@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html {
  scroll-behavior: smooth;
}

nav {
  scroll-behavior: smooth;
  max-width: 550px;
  margin: 0 0 0 auto;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav ul li {
  list-style-type: none;
}

footer ul li {
  list-style-type: none;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: #d83939;
  text-decoration: none;
}

a:hover {
  opacity: .7;
}

article {
  padding:0 1em;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.8em;
}

footer {
  padding: 1em 1.5em;
  background: #056086;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
}

h1 {
  text-transform: uppercase;
  margin: 1em 0;
}
  
h2 {
  text-transform: uppercase;
  text-align: center;
}
  
h2, h4 {
  font-weight: bold;
}

header, main, footer {
  margin: 0 auto;
}
  
header {
  padding: 2em;
  text-align: center;
  background-image: url('./assets/bg.jpeg');
  background-size: cover;
  color: white;
}
  
header section {
  margin: 0 auto;
  max-width: 640px;
}
  
header img {
  border-radius: 90%;
  max-width: 200px;
}

main {
  max-width: 1140px;
}
  
main section:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

nav {
  text-align: right;
  font-size: large;   
}

nav a {
  color:white;
}

pre {
  background-color: #056086;
}

section{
  margin: 1em;
  padding: 1em;
}

.education, .skills {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.education .title {
  color: #056086;
  -ms-flex: 0 0 33.3%;
  flex: 0 0 33.3%;
  max-width: 33%;
}

.education .description {
  -ms-flex: 0 0 66.6%;
  flex: 0 0 66.6%;
  max-width: 66.6%;
}

.education .description p {
  padding-left: 1em;
}

.skills .column {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.rs-logo {
  width: 300px;
  height: 100px;
}

.self-introduction {
  display: block;
  margin: auto;
}

.projects {
  text-align: center;
}

.project {
  max-width: 480px;
  text-align: center;
}

.description-container {
  display: flex;
  justify-content: space-around;
}
